body {
    background: #0d7874;
    background: radial-gradient(circle, rgba(13, 120, 116, 1) 0%, rgba(12, 106, 122, 1) 43%, rgba(25, 59, 97, 1) 100%);
    font-family: cursive; 
    color: white;
}
main {
    width: 600px;
    margin: 40px auto;
    display: flex;
    align-items: center;
}
.s1{
    background-color: rgba(255,255,255,0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}
h1{
    text-align: center;
}
button {
    height: 70px;
    width: 60px;
    font-size: 35px;
    font-size: 'times new roman', Times, serif;
    border-radius: 5px;
    border: none;
    color: #0a1af377;
}
button:hover {
    cursor: pointer;
    background-color: #d3d3d377;
}
.s2 {
    background-color: rgba(255,255,255,0.2);
    width: 250px;
    height: 350px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 20px;
}
.estadisticas {
    height: 85px;
    border-radius: 8px;
    padding: 8px 20px;
}
img {
    width: 80%
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
footer a{
    text-decoration: none;
    color: #1d1d1d77;
    font-weight: bold;
}
