body {
    background: #6e67a3;
    background: radial-gradient(circle, rgba(110, 103, 163, 1) 0%, rgba(166, 145, 139, 1) 88%);
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: flex;
}
.main-header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #292929;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.main-header h1 {
    font-size: 45px;
    color: #b8b8b8;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-shadow: 2px 8px 9px rgba(0, 0, 5, 0.5);
    z-index: 2;
}

.main-header::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, rgba(86, 89, 97, 0.5), rgba(42, 82, 190, 0) 70%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Estilos del mini encabezado de navegación */
.mini-header {
    background-color: #1f1e1e; /* Negro para un fuerte contraste */
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

.mini-header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}

.mini-header a {
    color: #4d4f50; /* Un azul claro para el texto */
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    padding: 10px 17px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.mini-header a:hover {
    border-radius: 20px;
    background-color: #071220;
    color: #97979c;
}
section h1{
    text-align: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #1f1e1e;
}
section p, li{
    text-align: center;
    font-size: 19px;
    color: #292828;
}

.button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width :100%;
}
button{
    border: none;
    border-radius: 20px;
    background-color: #1f1e1e;
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
}
button a{
    color: #777b7c;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.image-content{
    width: 100%; 
    border-radius: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    width: 300px; 
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 10%;
    height: auto;
}

.image{
    width: 100%;
}


.main-footer{
    height: 130px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #292929;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.main-footer h1 {
    font-size: 40px;
    color: #c4c4c4;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.main-footer::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, rgba(86, 89, 97, 0.5), rgba(42, 82, 190, 0) 70%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.main-footer p{
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    color: #828283;
    text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.596);
    margin-top: auto;
}

.main-footer a{
    color: #515455; /* Un azul claro para el texto */
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    padding: 3px 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
