@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} :root {
    /* primera paleta */
    --color-1: #EDE7E3;
    --color-2: #a89a85;
    --color-3: #7D5E2A;
    --color-4: #2F180C;
    /* segunda paleta */
    --color-5: #E6E6FA;
    --color-6: #A87CA0;
    --color-7: #5E286D;
    --color-8: #2A0E3C;
    /* tercera paleta */
    --color-9: #FAF3E0;
    --color-10: #c07c56;
    --color-11: #6F4E37;
    --color-12: #3B2F2F;
    /* cuarta paleta */
    --color-13: #E5E0D8;
    --color-14: #B3B792;  
    --color-15: #809671; 
    --color-16: #488b48;
    /* quinta paleta  */
    --color-17: #0c2d3b;
    --color-18: #145374;
    --color-19: #8ba5ac;
    --color-20: #062144;
} body{
    min-height: 100vh;
    overflow: auto;
    background-color: var(--color-17);
} header{
    padding: 0 10px;
    margin: 0 auto; 
    max-width: 1200px;
}.navbar{
    background:transparent;
    display:flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    min-height: 80px;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 2;
} .importante_1{
    font-weight: 700;
    width: 400px;
    letter-spacing: 1px;
    display: flex;
    font-size: 12px;
} .importante_1 h1{
    font-weight: 300;
    font-family: 'science gothic';
    color: var(--color-1)
} .importante_1 img{
    width: 60px;
    height: 45px;
    margin-right: 10px;
    border-radius: 5%;
} .navbar ul{
    display: flex;
    gap: 20px;
    list-style: none;
} .navbar nav a{
    color: var(--color-1);
    text-decoration: none;
    font-size: 13px;
}.soporte{
    list-style: none;
    display: flex;
} .soporte i{
    color: var(--color-1);
    font-size: 23px;
    margin-left: 7px;
}
/* contenido de la presentacion */
.portada{
    width: 100%;
    max-width: 1800px;
    margin: 0 auto; 
    height: auto;
    min-height: 1100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    /* el fondo de pantalla */
    background:url('../imagenes_final_proyect/fondo_A_C.png');
    background-repeat: repeat;
} .overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.103);
    z-index: 1;
    pointer-events: none;
} .contenido_portada{
    position: relative;
    z-index: 2;
    text-align: center;
    display: block;
    justify-content: center;
    color: var(--color-19);
} .titulos{
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 0.3rem;
    margin-top: 200px;
    animation: subir_entrada 2.5s ease-out forwards;
} .subtitulo{
    font-size: 47px;
    font-weight: 300;
    font-family: 'science gothic', sans-serif;
    letter-spacing: 0.5px;
    color: var(--color-19);
    display: inline-flex;
    gap: 2px;
} .titulo{
    margin: 0.4rem 0 0 0;
    font-size: 40px;
    font-family:  'Science Gothic', sans-serif;
    display: inline-flex;
    gap: 2px;
}.escritura{
    font-size: inherit;
    font-family: 'Science Gothic', sans-serif;
    font-weight: 250;
    white-space: nowrap;
    overflow: hidden;
    display:inline-block;
    line-height: 1;
} .cursor{
    display: inline-block;
    color: var(--color-19);
    animation: blink 1s steps(1) infinite;
    transform-origin: center;
    margin-left: 6px;
    vertical-align: middle;
    font-weight: 300;
    line-height: 1;
    font-size: inherit;
} .content{
    margin-top: 110px;
} .comenzar{
    background-color: rgba(43, 80, 97, 0.24);
    border-radius: 60px;
    border:none;
    cursor: pointer;
    display: inline-block;
    width: 250px;
    height: 50px;
    transition: background-color 3s ease, transform 2s;
    animation: subir_entrada 2.5s ease-out forwards;
} .comenzar a{
    text-decoration: none; 
    font-family: 'Science Gothic', sans-serif;
    font-weight: 300;
    font-size: 29px;
    color: var(--color-19);
    animation: subir_entrada 2.5s ease-out forwards;
} .comenzar a:focus{
    animation: blur-out-contract 0.4s linear both;
} .comenzar:hover {
    background-color: var(--color-20);
    transition: 0.3s;
}.especificaciones {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 17px;
} .especificaciones a{
    text-decoration: none;
    font-family: 'Science Gothic', sans-serif;
    font-weight: 300;
    color: var(--color-19);
    background-color: rgba(43, 80, 97, 0.178);
    border-radius: 15px;
    padding: 20px 5px 20px 5px; 
    margin: 0 25px;
    display: flex;
    align-items: center;
    animation: subir_entrada 2.5s ease-out forwards;
} .especificaciones i{
    font-size: 45px;
    padding-right: 40px;
    padding-left: 45px;
    animation: subir_entrada 2.5s ease-out forwards;
}.especificaciones .freatures{
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    animation: subir_entrada 2.5s ease-out forwards;
} .especificaciones span{
    font-size: 27px;
    font-weight: 400;
    flex-direction: center;
    text-align: center
} .especificaciones h1{
    font-size: 17px;
    font-weight: 200;
    margin-top: 2px;
    text-align: center;
}.especificaciones a:focus {
    animation: blur-out-contract 0.4s linear both;
}.especificaciones a:hover {
    background-color: var(--color-20);
    transition: 0.3s;
}















@media (max-width: 600px){
}
@keyframes blink{
    0%, 50%{
        opacity: 1;
    }
    51%, 100%{
        opacity: 0;
    }
}
@keyframes blur-out-contract{
    0%{
        transform: scale(1);
        filter:blur(2px);
    } 
    100%{
        transform: scale(0);
        filter:blur(12px);
        opacity:0;
    }
}
@keyframes subir_entrada{
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
