@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'times new roman', sans-serif;
}

:root {
    --background: #0d0747;
    --accent: #3407d6;
    --background_1: #1a1464;
    --accent_1: #043bb3;
}
body{
    color: azure;
    width: 95%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    /* padding-top: -30; */
}

.botones{
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
    gap: 20px;
    width: 120px;
    height: 80px;
    text-align: center;
}

.botones a{
    background: linear-gradient(
         45deg,
         var(--background) 0%,
          color-mix(in srgb, var(--background_1) 97%, var(--accent_1)) 45%,
          color-mix(in srgb, var(--background_1) 95%, var(--accent_1)) 50%,
          color-mix(in srgb, var(--background_1) 97%, var(--accent_1)) 55%,
          var(--background) 100%
          );
    padding: 9px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
    font-family: cursive;
    font-size: 15px;
}

.botones a:hover{
    background-color: rgb(23, 5, 122);
    transition: .3s;
    color: #9c9999;
}

.botones a:focus{
    background-color: rgb(59, 94, 211);
}

.greetings{
    margin-top:-20px;
    display: flex;
    justify-content: center;
    font-size: 9rem;
    font-weight: 900;
}
.greetings > span{
    animation: glow 2.5s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #1c0de6, 0 0 50px #380891, 0 0 100px #3914dd;
    }
    10%, 90%{
        color: #111;
        text-shadow: none;
    }
}
.greetings > span:nth-child(2){
    animation-delay: .3s ;
}
.greetings > span:nth-child(3){
    animation-delay: .6s ;
}
.greetings > span:nth-child(4){
    animation-delay: .9s;
}
.greetings > span:nth-child(5){
    animation-delay: 1.2s;
}
.greetings > span:nth-child(6){
    animation-delay: 1.5s;
}

.description span{
    margin-top: 90px;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    display: block;
    color: #777;
    font-weight: 600;
}

.button a{
    text-decoration: none;
    display:flex;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #0b0220;

}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 4rem;
        font-weight: 800;
        text-align: center;
    }
    .description{
        font-size: 2rem;
    }
    
    .button a{
        font-size: 1rem;
    }
}
